.table-view .media-object.pull-left {
    max-width: 70px;
    max-height: 70px;
}

label.slidevol {
    width: 10%;
    padding: 10px 0px;
}

input#slide {
    width: 50%;
    float: right;
    margin-right: 20px;
    padding: 10px 0px;
}

input#time {
    float: left;
    width: 22%;
}
